/*
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

/*Tablets and Under*/
@media (max-width: 768px) {
  .example {
    font-size: 20px;
  }
}

/*Mobile and Under*/
@media (max-width: 500px) {
  .example {
    font-size: 20px;
  }
}

/*Medium*/
@media (min-width: 992px) {
  .example {
    font-size: 20px;
  }
}

/*Large*/
@media (min-width: 1200px) {
  .example {
    font-size: 20px;
  }
}
